*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0
}

html,
body {
    height: 100%;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

.nav {
    max-width: 20%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 1rem;
}

.nav > li {
    display: inline-block;
    margin-right: .25rem;
    margin-left: .25rem;
}

.nav > li > a {
    text-decoration: none;
}